/** HEADER **/
#header-nav {
  background-color: #CC3300;
  border-radius: 0;
  border: 0;
}
#nav-list {
  margin-top: 0;
  margin-bottom: 0;
}

#nav-list a {
	background: #FFFF99;
  color: #CC3300;
  text-align: center;
	border: 1px solid black;
}
#nav-list a:hover {
  background: #FFB266;
	color: black;
}

.navbar-brand h1 { /* Name */
  color: #FFFF99;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

/* END HEADER */
.contentsection {
	position: relative;
	background-color: #CC3300;
	color: #FFFF99;
	border: 1px solid black;
	padding: 10px;
	margin: 0 auto 15px;
}

.contentsection  a {
	color: blue;
}

